body {
    font-family: 'Menlo', monospace;
    margin: 0;
    padding: 5px;
    max-width: 800px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the content */
    background-color: #000000;
    color: #ddd; /* Light text color */
}

.tabs {
    display: flex;
    background-color: #010101;
    /* padding: 10px; */
    padding: 10px 0 20px 0; 
}

.tab-button {
    flex: 1;
    text-align: center;
    cursor: pointer;
    padding: 0px;
    border: none;
    background: none;
    font-size: 16px;
    font-family: 'Menlo', monospace;
    color: #ddd; /* Light text color for tabs */
    /* text-decoration: none; Remove the default underline */
    /* position: relative; */
}

.title-area-frontpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
}

.title-area {
    text-align: center;
    padding: 0;
    background-color: #020202;
}

.title {
    font-size: 36px;
}

.content-region {
    padding: 0px;
}

a {
    color: #ddd; /* Light text color for links */
    text-decoration: none; /* Remove the default underline */
    position: relative;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Style for table headers */
th {
    background-color: #111;
    padding: 10px;
    text-align: left;
}

/* Style for alternating row colors */
tr:nth-child(even) {
    background-color: #111;
}

/* Style for table cells */
td {
    padding: 10px;
    text-align: left;
}

/* Hover effect on table rows */
tr:hover {
    background-color: #222;
}
